body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 :root {
    --var-dark: #18181c;
    --var-white: #fff;
    --var-dark-2: #2d2d31;
    --var-dark-3: #37373c;
    --var-dark-4: #363639;
    --var-blue: #012069;
    --var-red: #e21737;
    --var-lightgray: #f8f8f8;
    --var-gray: #c5c5c5;
    --var-color: #37373c;
    --var-color-2: #484850;
    --var-color-3: #6a6a6d;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'SF Pro Display' !important;
    font-size: 17px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}
.main-header{
    position: unset;
    z-index: 2;
    width: 100%;
    top:0;
    padding: 8px 0;
    background-color: #505156;
}
.navbar {
    background-color: transparent;
    margin-bottom: -108px;
    z-index: 10;
    padding: 12px !important;
    padding-top: 21px !important;
    align-items: center !important;
}
.navbar .fw-medium {
    font-weight: 600 !important;
    font-size: 21px;
}
.navbar small {
    font-weight: 600 !important;
    font-size: 15px;
}
.navbar .fw-normal {
    font-weight: 500 !important;
}
.logo {
    width: 220px;
    display: flex;
    align-items: center;
}

.z-index {
    z-index: 10 !important;
}
.bg-dark {
    background-color: var(--var-dark) !important;
}
.bg-red {
    background-color: var(--var-red);
}
.bg-blue {
    background-color: var(--var-blue);
}
.font-15 {
    font-size: 15px !important;
    color: var(--var-color-3);
}
.text-red {
    color: var(--var-red) !important;
}
.text-gray-2 {
    color: var(--var-dark-2) !important;
}
.font-14 {
    font-size: 14px !important;
    color: var(--var-color-3);
}
.font-13 {
    font-size: 13px !important;
    color: var(--var-color-3);
}
.fw-medium {
    font-weight: 600;
}
.text-gray {
    color: var(--var-dark-4);
}

#slider{
    height: calc(100vh - 67px);
    position: relative;
}
.banner{
    position: relative;
}
#slider div {
    height: 100%;
}
#slider .owl-nav>button {
   display: block;
   font-size: 0!important;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   opacity: 1;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
#slider .owl-nav>button.owl-prev {
   left: 20px;
}
#slider .owl-nav>button.owl-next {
   right: 20px;
}
#slider .bsec{
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    top:0;
}
#slider h1 {
    font-size: 43px;
    font-weight: 400;
    color: var(--var-dark);
}
.border2 {
    margin-top: -4px !important;
    margin-bottom: 22px;
    width: 75px!important;
    border: 2px solid #f21919;
    background-color: #f21919;

}



.custom-fm {
    width: 350px;
    z-index: 11;
    position: absolute;
    bottom: 0;
    right: 16%;
    padding: 30px 25px;
    background-color: #ffffff;
}
.custom-fm .btn {
    width: 100%;
    border-radius: 50px ;
    background-color: #f21919;
    padding: 8px 49px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: var(--var-white);
    border-color: #f21919;
}
.mail {
    padding: 13px 25px;
   /* border-radius: 50px;
    background-color: var(--var-white);*/
}

input {
    border-radius: 0px;
    background-color: #f2f2f2;
    color: var(--var-color-2);
    font-size: 14px;
    padding: 11px 13px;
    border: none !important;
    margin-bottom: 13px;
    width: 100%;
}

input::placeholder {
    color: var(--var-color-2);
}

select.form-select {
    border-radius: 0px;
    background-color: #f2f2f2;
    color: var(--var-color-2);
    font-size: 14px;
    padding: 11px 13px;
    border: none !important;
    margin-bottom: 13px;
    width: 100%;
}

select.form-select::placeholder {
    color: var(--var-color-2);
}

.border-red {
    border: 3px solid var(--var-red);
    width: 56px;
    background: var(--var-red);
}
.sec-1{
    background-color: #f5f7f9;
}
.sec-1 .card p {
    color: var(--var-color-2);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}


.sec-2 h2 {
    font-size: 43px;
}

.sec-2 h4 {
        font-size: 17px;
     color: rgb(55, 55, 60);;
    height: 36px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
text-align: center;
margin-bottom: 0;}

.card-body{
    background-color: #f5f7f9;
    padding: 15px 15px 30px 15px;
}
.footer .infosec ul li{display: flex;}
.footer .infosec ul li img{margin-right: 10px; filter: brightness(100);}
.footer .infosec ul li a{text-decoration: none; color: #fff;}
.sec-1 .card{height: 100%;}
.manufacturesec p{
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.manufacturesec img{
    width: 100%;
}
.sec-1 .card-body{
    padding: 20px;
}
.sec-2 .card {
    border: 1px solid var(--var-gray) !important;
    height: 100%;
}
.sec-2 .col-7  {
    line-height: 20px;
}
.sec-2 .col-8  {
    line-height: 15px;
}

.sec-2 .card .image {
    height: 200px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    background-color: #fff;
}

.sec-2 .card .image img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.sec-2 .btn-1 {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;

}

.sec-3 .ellips-1 {
    position: absolute;
    bottom: 68px;
    left: -56px;
    z-index: -1;
}
.sec-3 p a{
    text-decoration: none;
    color: #484850;
}
.sec-3 p {
    color: var(--var-color-2);
    text-align: justify;
}

.sec-3 .ellips-2 {
    position: absolute;
    bottom: -46px;
    left: -106px;
    z-index: -2;
}

.sec-4 p {
    color: var(--var-color-2);
}

.sec-5 .card {
    border: 1px solid #ededed;
    width: 233px;
    height: 145px;
    overflow: hidden;
    text-align: center;
}
.sec-5 .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 35px;
}

.sec-5 .nav-link {
    padding: 0.8rem 0.8rem !important;
    height: 100%;
}

/*.sec-5 {
    background-color: var(--var-lightgray);
}*/

.sec-6 {
      background-image: url(/public/images/footer.jpg);
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-6 .card-body{
    background: none;
}

.sec-6 .card p {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400 !important;
}
li{
  color: #fff;
}
.sec-6 .card h5 {
    font-size: 19px;
    font-weight: 500 !important;
    color: #fff;
    margin-bottom: 25px;
}
.rounded-0 .btn-1{border-radius: 50px !important; padding: 0 30px;}
.requestsec {display: flex; align-items: center; justify-content: center;}
.clogo{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.clogo li{
    flex-basis: 12%;
    background: var(--var-white);
    overflow:hidden;
    margin: 10px;
   
    border: 1px solid #ededed;
    padding: 10px;
}
.clogo li>div{
    height: 100%;
}
.clogo li p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.2;
}
.brand{
    width: 100%;
}
.brand img{
    width: 100%;
}
/************************************/
.testimonialbg{
    /* background:#f5f5f5 url(../images/pattern.png); */
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 0;
}

.testimonial{
  
    padding: 30px;
    margin: 0 15px 0px 15px;
    overflow: hidden;
    position: relative;
   background-color: #f5f7f9;
   height: 100%;
   border-radius: 30px;
   height: 100%;
}
.testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid var(--theme-color);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
}

.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}
.testimonial .description{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    position: relative;
    padding-top: 35px;
}
.testimonial .description:before{
 content: '';
 /* background-image: url(../images/Comma.png); */
 position: absolute;
 left: 0px;
 top: 0;
 width: 50px;
 height: 30px;
 background-size: 30px;
 background-repeat: no-repeat;
 opacity: 1;
}
.testimonial .title{
    display: inline-block;
    font-size: 17px;
     margin: 0;
}
 .la, .las{font-size: 25px;
       box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
       background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-weight: 900;

        }
.testimonial .post{
    display: inline-block;
    font-size: 17px;
    color: var(--medium-black);
}
#testimonial-slider .owl-nav{
    margin-top: 0px;
    text-align: center;
}
#testimonial-slider .owl-nav>button {
   display: block;
   font-size: 0!important;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   opacity: 1;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
#testimonial-slider .owl-nav>button.owl-prev {
   left: -20px;
}
#testimonial-slider .owl-nav>button.owl-next {
   right: -20px;
}
/*#testimonial-slider button.owl-next, #testimonial-slider button.owl-prev {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    font-size: 14px;
    color: var(--medium-black);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px !important;
    padding: 10px 8px !important;
    z-index: 9;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}*/
#testimonial-slider button.owl-next:focus, #testimonial-slider button.owl-prev:focus{
    outline: none !important;
}
/*#testimonial-slider button.owl-next:before, #testimonial-slider button.owl-prev:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 60px;
    border: 2px solid var(--medium-black);
    border-right: 0;
    content: "";
    z-index: -1;
    padding: 10px 8px !important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
#testimonial-slider button.owl-next:before {
    left: auto;
    right: -15px;
    border: 2px solid var(--medium-black);
    border-left: 0;
}
#testimonial-slider button.owl-prev:before {
    left: -15px;
}
#testimonial-slider button.owl-prev span {
    margin-right: 5px;
}
#testimonial-slider button.owl-next span {
    margin-left: 5px;
}
#testimonial-slider button.owl-next:hover, #testimonial-slider button.owl-prev:hover {
    background: transparent !important;
    color: var(--theme-color) !important;
    text-decoration: none;
      -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
#testimonial-slider button.owl-next:hover:before, #testimonial-slider button.owl-prev:hover:before{
    border-color: var(--theme-color) !important;
      -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}*/
#testimonial-slider .owl-stage{
    display: flex;
    align-items: stretch;
}
 .clogo .clogoimg{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
 }
.card-body ul{
    list-style: none;
    padding-left: 0;
}
.clogo li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* display: block; */
    /*padding: 20px;*/
}
/* responsive design */
@media (max-width:1369px) {
    #slider {
        /* height: calc(100vh); */
    }
    #slider h1{
        font-size:40px;
    }
    .sec-3 .ellips-1,.sec-3 .ellips-2{
        display: none !important;
    }
    .font-14 {
        font-size:13px !important;
    }
    .font-15 {
        font-size: 13px !important;
    }
}
@media (max-width:1280px) {
    .custom-fm{
        right: 6.5%;
    }
    #slider h1{
        font-size:38px;
    }
   
   
}
@media (max-width:1024px) {
    #slider {
        height: calc(100vh - 200px);
    }
    #slider .bsec{
        background-position: center left;
    }
    #slider h1 {
        font-size: 34px;
    }
    .clogo li {
        flex-basis: 22%;
    }
}
@media (max-width:991px) {
    #slider {
        height:calc(100vh - 450px);
    }
    
    .btn-green {
        padding: 6px 20px !important;
        font-size: 14px !important;
    }
    .custom-fm {
        position: relative;
        top: 0;
        left: 0px;
        padding: 20px;
        width: 100% !important;
    }
    .logo {
        width: 125px;
    }
    input {
        width: 100% !important;
    }
    .mail{
        padding: 6px 25px;
    }
    #slider h1 {
        font-size: 24px;
        margin-top: 75px !important;
    }
    .sec-3 .ellips-1,.sec-3 .ellips-2{
        display: none !important;
    }
    .clogo li {
        flex-basis: 30%;
    }
}   
/* slider */

@media (max-width:767px) 
{
 .fixed-btn small{
        display: none;}
        .manufacturesec img{width: 100%;}
    .slick-slide {
        margin: 0px 20px;
    }
   

    .slick-slide img {
        width: 100%;
    }
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-dots {
        display: none !important;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }

/* slide end */
    .sec-5 .card {
        width: 100%;
    }
    .sec-6 .card p {
        font-size: 14px !important;
        line-height: 19px !important;
    }
    
    .sec-6 .card h5 {
        font-size: 15px !important;
    }
    .fixed-btn {
        padding: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        background: var(--var-white);
        z-index: 99;
        color: #fff;
        width: 100%;
        clear: both;
        display: none;
        justify-content: space-between;
    }

    .fixed-btn img{
        filter: brightness(100);
    }
    .navbar .fw-medium {
        font-weight: 500 !important;
        font-size: 14px;
    }
    .fixed-btn .text-gray {
        color: var(--var-white) !important;
        font-size: 14px;
    }
    .fixed-btn .btn-fix1 {
        width: 100%;
        padding: 15px 18px;
        background-color: var(--var-red);
        justify-content: center;
    }
    .fixed-btn .btn-fix2 {
        width: 100%;
        padding: 10px 18px;
        background-color: var(--var-blue);
        justify-content: center;
    }
    .mail {
        padding: 0px;
        border-radius: 50px;
        background-color: transparent !important;
    }
    .sec-2 h2 {
        font-size: 25px !important;
    }
    #slider .bsec {
        height: calc(100vh - 450px);
    }
    .custom-fm{
        z-index: unset;
    }
    #slider h1 {
        font-size: 18px;
        margin-top: 50px !important;
    }
    .thankyou .mail .text-white .text-gray{
        color: var(--var-white) !important;
    }
}
@media (max-width: 360px){
    .fixed-btn .text-gray{
        font-size: 13px !important;
    }
}
@media (max-width: 320px){
    .fixed-btn .text-gray{
        font-size: 12px !important;
    }
}
.toast-container{
  z-index: 999999;
  /*left: 50%;
  transform: translateX(-50%);*/
  right: 0
}
.toast .toast-header{
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0px;
  border-bottom: none;
}
.toast .toast-body{
  padding: .40rem .75rem;
}
.toast .toast-header .icons{
    font-size: 22px;
    line-height: 1;
    margin-right: 8px;
}
.toast.alert-danger{
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.toast.alert-danger .toast-header {
  background-color: #f8d7da;
  color: #842029;
}
.toast.alert-danger .icon{
    color: #842029;
}
.toast.alert-success{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.toast.alert-success .toast-header {
  background-color: #d1e7dd;
  color: #0f5132;
}
.toast.alert-success .icon{
    color: #842029;
}
.toast.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.toast.alert-warning .toast-header {
  background-color: #fff3cd;
  color: #664d03;
}
.toast.alert-warning .icon{
    color: #664d03;
}

.sec-feed{
    background: url(/public/images/home-banner2.jpg) no-repeat center left/cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sec-feed .bg-gray{
    background-color: var(--var-red);
    color: var(--var-white);
}
.sec-feed::after{
    position: absolute;
    content: "";
    background-color:rgba(1, 32, 105 , .4);
    height: 100vh;
    width: 100%;
    z-index: -1;
    top:0;
    left: 0;
}
.thankyou .text-gray{
    color: var(--var-white);
}
.thankyou .mail .text-white .text-gray{
    color: var(--var-dark-2);
}